@font-face {
    font-family: karla;
    src: url(fonts/Karla-Bold.ttf);
}

@font-face {
    font-family: inter;
    src: url(fonts/Inter.ttf);
}

body {
    background-color: #e9f1ea;
    margin: 0;
    color: white;
}

.container {
    font-family: inter;
    display: block;
    margin: 100px auto;
    background-color: #1F2937;
    width: 550px;
    height: 550px;
    font-size: 40px;
    border-radius: 20px;
    border: 5px solid white;
    padding-top: 115px;
    padding-left: 52px;
}

.random-pass-el {
    color: #4ADF86;
    font-family: karla;
    font-size: 40px;
}

h3 {
    font-family: karla;
    font-size: 40px;
    margin: 0;
}

h4 {
    font-size: 20px;
    color: #d5d4d8;
    font-weight: 300;
    margin-top: 5px;
}

#generate-pass-btn {
    margin-top: 40px;
    color: white;
    background-color: #10B981;
    padding: 9px 15px;
    border: none;
    border-radius: 6px;
    width: 191px;
    height: 42px;
    font-size: 16px;
}

hr {
    width: 446px;
    background-color: #2F3E53;
    border: 1px solid #2F3E53;
    margin: 40px 0;
}

input {
    background-color: #273549;
    border: none;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    color: #55F991;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 6px #55F991;
}

.copied {
    color: #55F991;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 14px;
    text-align: center;
}

.copied.show {
    opacity: 1;
}